apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ dep_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
    websiteurl: "{{{ websiteurl }}}"
spec:
  template:
    spec:
      containers:
      - name: {{{ container_name }}}
        image: {{{ image }}}
        args: ["{{{ websiteurl }}}"]
      restartPolicy: Never
